@{
    ViewBag.Title = "About";
}
<h1 style="align-content:center">About ScriBu</h1>

<p style="align-content:center">The idea of ScriBu is to meet makers from all over the world to each other. Here they can sell the products they make at home or at the workshop, or search what other makers are offering.</p>
