@{
    ViewBag.Title = "Contact";
}
<div style="margin: 15px">
    <h2>Contacts</h2>

    <address >
        Slav Radev<br />
        Sofia, Bulgaria<br />
        P: +359 888 96 42 26<br />
        slavradev@@gmail.com
    </address>

    <address>
        <strong>Support:</strong> don_pesho@@gmail.com<br />
    </address>
</div>