<div class="col-sm-3">
    <div class="left-sidebar">
        <h2>Category</h2>
        <div class="panel-group category-products" id="accordian">
            <!--category-productsr-->

            <div class="panel panel-default">
                <div class="panel-heading">
                    <h4 class="panel-title"><a href="/products/select/Clothing and Accessories">Clothing and Accessories</a></h4>
                </div>
            </div>
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h4 class="panel-title"><a href="/products/select/Jewelry">Jewelry</a></h4>
                </div>
            </div>
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h4 class="panel-title"><a href="/products/select/Craft Supplies and Tools">Craft Supplies and Tools</a></h4>
                </div>
            </div>
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h4 class="panel-title"><a href="/products/select/Weddings">Weddings</a></h4>
                </div>
            </div>
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h4 class="panel-title"><a href="/products/select/Entertainment">Entertainment</a></h4>
                </div>
            </div>
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h4 class="panel-title"><a href="/products/select/Home and Living">Home and Living</a></h4>
                </div>
            </div>
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h4 class="panel-title"><a href="/products/select/Kids and Baby">Kids and Baby</a></h4>
                </div>
            </div>
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h4 class="panel-title"><a href="/products/select/Vintage">Vintage</a></h4>
                </div>
            </div>
        </div><!--/category-products-->



        @*<div class="shipping text-center">
            <!--shipping-->
            <!--<img src="images/home/shipping.jpg" alt="" /> -->
            <p>G</p>
            <p>o</p>
            <p>o</p>
            <p>g</p>
            <p>l</p>
            <p>e</p>
            <p> </p>
            <p>a</p>
            <p>d</p>
            <p>s</p>
            <p>e</p>
            <p>n</p>
            <p>s</p>
            <p>e</p>
        </div><!--/shipping-->*@
        
    </div>
</div>
